<p style="color: green"><%= notice %></p>
<h2>note詳細</h2>
  <%= render @note %>
  <div>
    <%= link_to "編集", edit_note_path %>
    <%= button_to "削除", note_path, method: :delete %>
  </div>
  <div>
    <%= link_to "戻る", notes_path %>
  </div>
